.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  animation: 2s fadeIn;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: .25s;
  margin-left: 5px;
}

.search-button:hover {
  background: rgb(202, 110, 110);
  transition: .25s;
}

.search-button:focus {
  border: none;
  outline: none;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.headName {
  margin: 0;
  padding: 0;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

