.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  animation: 2s fadeIn;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 2.5s slideInLeft;
}

.search-bar {
  width: 100%;
  border: none;
  padding: 10px;
}

.search-button,
.start {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: .25s;
  margin-left: 5px;
}

.search-button:hover,
.start:hover {
  background: rgb(202, 110, 110);
  transition: .25s;
}

.search-button:focus,
.start:focus {
  border: none;
  outline: none;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.headName {
  margin: 0;
  padding: 0;
  text-align: center;
  animation: 2.5s slideInRight;
}

.none {
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.pizza {
  width: 40%;
  padding-left: 5px;
}

.buttonDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% { 
    transform: translateX(1000px);
  }
  80% {
    transform: translateX(-5px);
  }
   100% {
    transform: translateX(0px);
  }
}

@keyframes slideInLeft {
  0% { 
    transform: translateX(-1000px);
  }
  80% {
    transform: translateX(5px);
  }
   100% {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 768px) { 
  .pizza {
      width: 30%;
  }
  .search-bar {
    width: 70%;
    margin-left: 10px;
  }
}